body {
    margin:0;
    font-family: 'Roboto', sans-serif;
}

.sec1, .top-menu {
    background-color: #1f2937;
    display: flex;
    align-items: center;
    padding: 0 10%;
}

.top-menu {
    justify-content: space-between;
    padding-top: 20px;
    padding-bottom: 10px;
}

.sec1 {
    gap: 50px;
    padding-top: 50px;
    padding-bottom: 100px;
}

.logo {
    width: 50px;
    height: auto;
}

ul {
    list-style: none;
    display: flex;
    gap: 20px;
    font-family: 'Roboto', sans-serif;
    padding: 0;
    margin: 0;
    justify-content: space-between;
    flex-wrap: nowrap;
}

.sec2 ul {
    list-style: none;
    display: flex;
    gap: 30px;
    font-family: 'Roboto', sans-serif;
    padding: 0;
    margin: 0;
    justify-content: center;
    flex-wrap: nowrap;
}

li {
    text-align: center;
}

li p {
    text-align: justify;
    width: 160px;
    font-size: small;
    font-family: 'Roboto',sans-serif;
    font-weight: 200;
}

a {
    text-decoration: none;
    color: #f9faf8;
}

h1 {
    color: #f9faf8;
    font-size: 24px;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    display: inline;
    align-items: center;
    margin: 0;
}

h2 {
    color: #f9faf8;
    font-size: 48px;
    font-weight: bolder;
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

h3 {
    color: #1f2937;
    font-size: 20px;
    font-weight: bolder;
    font-family: 'Roboto', sans-serif;
    margin: 26px 0;  
}

button {
    color: #f9faf8;
    border-radius: 3px;
    background-color: #3882F6;
    border-color: #3882F6;
    box-shadow: none;
    border-style: solid;
    font-size: 18px;
    margin: 10px 0;
    font-family: 'Roboto', sans-serif;
    padding: 3px 20px;
}

.sec1 p {
    color: #e5e7eb;
    font-size: 18px;
    font-weight: 300;
    font-family: 'Roboto', sans-serif;
    margin: 12px 0;
}

.thumbnail{
    width: 160px;
    height: 160px;
}

.sec2 {
    padding: 0 20%;
    padding-top: 0;
    padding-bottom: 100px;
}

.sec3 {
    padding: 100px 20%;
    background-color: #e5e7eb;
}

p {
    color: #1f2937;
    font-size: 18px;
    font-weight: normal;
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

.quote {
    color: #1f2937;
    font-size: 36px;
    font-weight: lighter;
    font-family: 'Roboto', sans-serif;
    font-style: italic;
    margin-top: 0;
}

.author {
    color: #1f2937;
    font-size: 18px;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    text-align: right;
}

.top-menu p {
    color: #e5e7eb;
    font-size: 18px;
    font-weight: normal;
    font-family: 'Roboto', sans-serif;
    margin: auto;
    text-align: center;
}

.signup {
    background-color: #3882F6;
    display:flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 25px;
    gap: 30px;
    border-radius: 6px;
}

.signup div {
    font-weight: normal;
    color: #e5e7eb;
    
    
        
}

.signup button {
    border-color: #e5e7eb;
}

.sec4 {
    padding: 100px 20%;
}

.footer p {
    color: #e5e7eb;
    font-weight: 300;
    font-size: small;
    text-align: center;
}

.footer {
    background-color: #1f2937;
    padding: 16px 0;
}